In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    columns=['unit price', 'number'],
    index=['store1', 'store2', 'store3']
)

df.loc['store1'] = [1000, 25]
df.loc['store2'] = [280, 120]
df.loc['store3'] = [900, 30]

In [3]:
df['total price'] = df['unit price'] * df['number']
df = df.astype('int')
df

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [4]:
pd.DataFrame(df.loc[df['total price'].idxmax()]).transpose()

        unit price  number  total price
store2         280     120        33600